@use 'sass:color';

$row-bg-color: #71e1fd;
table {
    justify-self: center;
    width: 600px;
    max-width: 95%;
    margin: 1rem;
    border-collapse: collapse;
}

thead>tr {
    border-bottom: 4px solid black;
}
tbody>tr {
    line-height: 1.5rem;
    border-bottom: 2px solid black;
    user-select: none;
    cursor: pointer;

    background-color: $row-bg-color;
    transition: background-color 0.2s ease-in-out;
    &:hover {
        font-weight: 700;
        background-color: color.adjust($row-bg-color, $lightness: -20%);
    }
    &:active {
        background-color: color.adjust($row-bg-color, $lightness: -30%);
    }
}
td, th {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}